

h1 {

}

#outfit_builder {
  position: relative;
  top:0px;
  left:0px;
  min-height: 667px;
  width: 670px;
  background: url('http://i.imgur.com/FaL2NBA.jpg');
  background-size: contain;
}

.garment {
  width: 200px;
  height: 250px;
}

.currentChoice {
  min-height: 500px;
  width:500px;
}

#shoes
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#bottom
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}

#hat
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
}

#top
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
}

#jacket
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
