
#nav {
  background: black;
}

/*#outfit_builder {
  display: inline-block;
}*/


h1 {
 font-family: 'Poiret One', cursive;
 font-size: 30px;
 margin-right: 1px ;
 margin-left: 1px ;
 margin-top: 1px ;
 margin-bottom: 1px ;
 margin-color: black;
 background: black;
 color: white;
}

h3 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

.closet {
  margin-top: 40px;
}

.clothes {
  margin-left:-80px;
  margin-top: -20px;
  margin-bottom: -70px;
}

#outfit_builder {
  position: relative;
  top:0px;
  left:0px;
  min-height: 663px;
  width: 670px;
  background: url('http://i.imgur.com/FaL2NBA.jpg');
  background-size: contain;
  border-color: white;
}

.garment {
  width: 200px;
  height: 250px;
}

.currentChoice {
  /*min-height: 500px;*/
  width:500px;
  border-color: white;
  border-width: 0px;
}

#shoes
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#bottom
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}

#hat
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
}

#top
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
}

#jacket
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
